.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 100px);
    border: 10px solid gray;
    grid-gap: 8px;
    background: gray;

}
.grid>div{
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;

}
.grid-item1{
    grid-column: 1 / 3;
}
.grid-item2{
    grid-column: 3 / 6;
}

.grid-item6{
    grid-column: 2 / 6;
    grid-row: 2 / 4;
}
.grid-item7{
    grid-column: 6 / 8;
}
.grid-item8{
    grid-row: 3 / 5;
}
.grid-item11{
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.grid-item12{
    grid-column-end: span 2;
}
.grid-item13{
    grid-column: 6 / 8;
}
.grid-item14{
    grid-row-end: span 3;
}
.grid-item15{
    grid-column: 4/ span 2;
}
.grid-item16{
    grid-column: 6 / span 2;
    grid-row: 5 / span 2;
    /*одно и тоже*/
    grid-area: 5 / 6 / span 2 / span 2;
}
.grid-item17{
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.grid-item18{
    grid-column-end: span 2;
}

.grid-item24{
    grid-column: 4 / 6;
    grid-row: 7 / 8;
}
.grid-item19{
    grid-column-start: span 2;

}
.grid-item21{
    grid-area: span 1 / span 2;
}
.grid-item22{
    grid-area: span 1 / span 2;
}
.grid-item23{
    grid-area: span 1 / span 2;
}




div.b-black{
    background: black;
    color:#FFFFFF;
}
div.b-blue{
    background: blue;
    color:#FFFFFF;
}