.grid-element{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: start;
}
.grid-element>div{
    border-bottom: 6px solid black;
}