.container{
    width: 1366px;
    margin: 0 auto;
    background: url(../img/background_for_all.png);
    background-size: cover;
    color:#fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.wraper{
    width: 1028px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    display: block;
}
.company-info{
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 51px 0 17px 0;
}
.company-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-orange{
    display: none;
}
.name1{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.name2{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.company-name{
    max-width: 140px;
    margin: 0;
    display: flex;
}
.logo-name{
    padding-left: 8px;
    padding-top: 5px;
}
.company-logo:hover .logo{
    display: none;
    
}
.company-logo:hover .logo-orange{
    display: block;
    
}
.company-logo:hover .company-name{
    color: #F26522;
}
.company-contact{
    color: #F26522;
    text-align: end;
}
.company-mail,.company-phone{
    font-size: 18px;
    line-height: 18px;
}
.company-phone{
    margin-bottom: 0;
}
.company-contact:hover .contact{
    color:#F26522;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    column-gap: 62px;
    text-align: center;
    row-gap: 37px;
}
.tours-text{
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    margin: 0;
}
.tours{
    position: relative;
    width: 100%;
}
.tours-img-link{
    z-index: 0;
}
.img-describe{
    display: none;
}
.tours:hover .img-describe{
    display: block;
    position: absolute;
    background:#F26522;
    width: 100%;
    height: 55px;
    left:2px;
    top: 165px;
    z-index: 1;
    border-image: 
    transition: 2s;
}
.tours:hover .from{
    position: absolute;
    top:7px;
    left: 16px;
    font-size: 10px;
    line-height: 10px;
}
.tours:hover .cost{
    position: absolute;
    top: 29px;
    left: 16px;
    font-size: 20px;
    line-height: 20px;
}
.tours:hover .view_details{
    position: absolute;
    top: 29px;
    left: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.tours:hover .view_details::after{
    content:">";
    clear: both;
    
}
.tours:hover .tours-text-link{
    color: #F26522;
}
.footer{
    text-align: center;
    padding: 85px 0 15px 0;
}
.footer-text{
    margin: 0;
    font-size: 12px;
    line-height: 12px;

}
