.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style-type: none;

}

.header-logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    justify-content: start;
    margin-bottom: 38px;
}

.logo-color-style {
    color: blueviolet;
}

.navbar-list {
    display: flex;
    justify-content: center;
    background-color: #3D3D3D;
}

.navbar-list ul {
    padding-left: 0;
}

.navbar-list a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.navbar-item {
    padding: 26px 30px 19px 38px;
    border: 1px solid #FFFFFF;
}
.content{
    display: flex;
}

.menu-aside-list {
    padding: 0;
    margin: 0 48px 0 0;
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.menu-aside-item{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 44px;
}

.menu-aside-item:hover {
    background-color: #DBDBDB;
    transition-duration: 1s;
    text-align: center;
    margin: 0 auto;
}

.aside-item-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.content-section{
    width: 885px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 37px;

}
.img-property{
    box-sizing: border-box;

    border: 1px solid #000000;
}
.content-section-img{
    padding: 75px 268px 73px 297px ;
    transition: 2s;
}

.content-section-img:hover{
    transform: scale(1.2);
}

.content-section-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align: start;
    margin-bottom: 54px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    width: 100%;
}
.footer-menu-list{
    padding-left: 0;
}
.footer-menu-item{
    display: inline-block;
}
.footer-menu-item a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 20px 10px 21px 10px;
}

.footer-menu-item a:hover{
    color: #3181A6;
    transition: 1s;
}

.footer-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-left: 135px;
}