body{
    font-family: Open Sans;
}
.container{
    margin: 0 auto;
    max-width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}
.header-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 29px;
}
.logo-text{
    padding-left: 27px ;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 20px 0 20px 0;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 0;
}
.menu-item{
    margin: 26px 35px 24px 35px;
}
.item-link{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.item-link:hover{
    color:#14B9D5;
    transition: 1s;
}
.icon{
    padding: 26px;
}

.popular-post{
    max-width: 100%;

}
.post-banner{
    background: url(../img/header-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-header{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #FFFFFF;
text-align: center;
width: 100%;
padding: 164px 200px 44px 200px;
margin: 0;
}

.button{ 
    border-radius: 2px;
    margin-bottom: 74px;    

}

.subscribe{
    border: 1px solid #89CA62 ;
    background: #89CA62;
    padding: 16px 19px 17px 19px;
    margin-right: 20px;
    margin-left: -20px;
    
}
.articles{
    border: 1px solid #14B9D5; 
    background: #14B9D5;
    padding: 16px 29px 17px 30px;

}

.button-text{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

}
.popular-post{
background: #F2F2F2;


}


.content-flex{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 72px;
    
}
.felx-header{
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
color: #18B4CF;
margin: 49px 0 52px 0;
}


.flex-images-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-images-column{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-img-text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    padding: 20px 0 22px 0;
    background: #FFFFFF;
    margin: 0;
    }

    .wraper-grid{
        /* max-width: 1900px; */
        margin: 0 auto;
        box-sizing: border-box;
    }
    .popular_client{
        background: url(../img/grid/background/banner.png);
        width: 100%;
    }
    .grid-banner{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 0 200px;
        
    }
    .grid-banner-header{
        grid-column-start: 1;
        grid-column-end: 5;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 50px 0 0px 0;
        margin: 0;
    
    }
    .grid-banner-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    grid-column-start: 1;
    grid-column-end: 5;
    }
    
    .logo{
        margin-bottom: 110px;
    }

    .grid-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

    }
    .header-top_rated{
        grid-column: 1 / 8;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #18B4CF;
    }
