*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    
}
.header{
    margin-bottom: 49px;
}
.header-menu{
    margin-bottom: 25px;
    margin-top: 25px;
}
.menu-list{
    text-align: center;
}
.menu-items{
    margin-left: 72px;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.menu-items:last-child{
    margin-left: 50px;
}
.menu-items:first-child{
    margin-left: 0px;
}
.menu-items a{
    text-decoration: none;
    color:red;
}
.photo{
    width: 100%;
}
.main{
    display: inline-block;
    text-align: center;
    color: #373737;
    margin-bottom: 82px;
}
.main-header{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.main-text1,.main-text2 {
font-weight: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
margin-bottom: 28px;
}
.main-text2{
    margin-bottom: 66px;
}
.button-item{
    padding: 18px 43px 17px 42px;
    border: red solid 2px;
    background-color:  #FF0000;
    cursor:pointer;
    border-radius: 4px;
}
.button-item:hover{
    background-color: blue;
    border: blue solid 2px;
}
.button-text{
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
   
}
.footer-content{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
    color: #373737;
}