body{
    font-family: Open Sans;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

    .wraper-grid{
        max-width: 1900px; 
        margin: 0 auto;
    }
    .grid-popular_client{
        background: url(../img/grid/background/banner.png);
        width: 100%;
        display: grid;
        align-items: center;
        justify-items:center;
        justify-content: center;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,auto);
        
    }
    .grid-banner-header{
        grid-column: 1 / 5;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 108px 0 87px 0;
}
.grid-banner-line{
    width: 60px;
    background: #18B4CF;
    height: 3px;
    grid-column: 1 / 5;
    margin-bottom: 106px;

}
.logo{
    padding-bottom: 200px;
}
.grid-content{
    display: grid;
    justify-content: space-between;
    width: 1280px;
    grid-template-columns: repeat(7, 14.3%);
    grid-template-rows: 2;
}

    
    