body{
    font-family: Open Sans;
}
.container{
    margin: 0 auto;
    max-width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}
.header-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 29px;
}
.logo-text{
    padding-left: 27px ;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 20px 0 20px 0;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 0;
}
.menu-item{
    margin: 26px 35px 24px 35px;
}
.item-link{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.item-link:hover{
    color:#14B9D5;
    transition: 1s;
}
.icon{
    padding: 26px;
}

.popular-post{
    max-width: 100%;
    box-sizing: border-box;

}
.post-banner{
    background: url(../img/header-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-header{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #FFFFFF;
text-align: center;
width: 100%;
padding: 164px 200px 44px 200px;
margin: 0;
}

.button{ 
    border-radius: 2px;
    margin-bottom: 74px;    

}

.subscribe{
    border: 1px solid #89CA62 ;
    background: #89CA62;
    padding: 16px 19px 17px 19px;
    margin-right: 20px;
    margin-left: -20px;
    
}
.articles{
    border: 1px solid #14B9D5; 
    background: #14B9D5;
    padding: 16px 29px 17px 30px;

}

.button-text{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

}
.popular-post{
background: #F2F2F2;


}

.felx-header{
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
color: #18B4CF;
margin: 49px 0 52px 0;
}

.flex-images{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 100%;  
    margin-right: -30px; 
}
.flex-img{
    max-width: 370px;
    margin-bottom: 54px;
    margin-right: 30px;
}
.flex-img-text{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;
text-align: center;
}