*, *:before, *:after {
    box-sizing: border-box;
}

.banner {
    background: url("../img/headimage.png") no-repeat;
    padding: 528px 0 133px 225px;
    background-size: cover;
}

.banner-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.banner-slogan {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    top: 16px;

}

.banner-big-slogan {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #F48E0B;
    display: inline-block;
}

.slogan-orange {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #F48E0B;
    display: inline-block;
    border-right: 1px solid #F48E0B;
    padding: 38px 23px 38px 31px;
}

.slogan-white {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 38px 31px 38px 24px;

}

.header {
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 3px solid #F48E0B;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header__logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #F48E0B;
    margin-right: 90px;
}

.logo {
    display: inline-block;
    margin-right: 251px;
}

.header__nav {
    display: inline-block;
}

.header__nav-item {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    margin-right: 69px;

}

.header__nav-item a {
    color: #3D3D3D
}

.header__nav-item:first-child {
    color: #F1B128;
}

.header__nav-list {
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

.team-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.team-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #4D4943;

}

.team-line {
    width: 60px;
    background: #F1AD1D;
    padding-bottom: 5px;
    margin: 48px auto 53px;
}

.photo {
    font-size: 0;
    width: 1167px;
    margin: 53px auto 0;

}

.avatar {
    display: inline-block;
    width: 193px;
    height: 178px;
    padding: 119px 42px 14px 12px;

}

.name-client {
    width: 139px;
    height: 45px;
    background: linear-gradient(0deg, #333333, #333333), #111111;
    padding: 15px 50px 15px 17px;
}

.name-client a {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.name {
    color: #F1AD1D;
}

.prof-char{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

