.wraper{
    width: 100%;
    height:100%;
    margin: 0 auto;
    font-family: Ubuntu;
    font-style: normal;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    padding-bottom: 74px;

}
a{
    text-decoration: none;
    color: #fff;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}
.logo{
    padding: 18px 0 18px 0;
}
.logo-text{
    margin: 0;
}
.logo-text-link:hover, .menu-text:hover{
    color: #3CB878;
    transition: 1s;
}

.log-or-sing_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 27px;
}
.icon{
    margin-right: 25px;
    cursor: pointer;
    fill: #fff;
}
.icon:hover{
    fill: #3CB878;
    transition: 1s;
}
.log-or-sing_up-menu-text{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;  
    margin: 0;
}
.inner{
    max-width: 444px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #fff;
   
}
.rectangl{
    position: absolute;
    background: #3CB878;
    width: 18px;
    height: 18px;
    top:29px;
}
.registration-form{
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
    padding-top: 26px;
    margin-bottom: 38px;
    box-sizing: border-box;

}
.registration-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.3fr 1fr;
    column-gap: 4px;
    row-gap: 14px;
    align-content: center;
}

.header-link{
    margin: 0;
}
.sing-up{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.link-log-in{
justify-self: end;
}
.log-in{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.log-in:hover{
    color: #01813F;
    text-decoration: underline;
    transition: 1s;
}
.facebook-button{
    display: block;
    padding: 17px 22px 17px 67px;
    background: #305DB8;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #305DB8;
}
.facebook-text{
    margin: 0;
}
.facbook-button-for-registration, .google-button-for-registration{
    position: relative;
}
.facebook-logo-position, .google-logo-position{
    position: absolute;
    top:12px;
    left: 17px;
}
.google-button{
    display: block;
    padding: 17px 27px 17px 80px;
    background: #DF4A32;;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #305DB8;
}
.google-logo-position{
    left:12px;
    top: 15px;
}
.or{
    text-align: center;
    margin: 31px 0 12px 0;
}
.firstname-text,.last-name-text,.email-text,.password-text{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
    border: 1px solid #000;
}
.argee-to-registration{
    text-align: center;
    margin-bottom: 40px;
}

.button-create-account{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0 16px 0;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 38px;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.input-text{
    padding: 16px 0 16px 20px ;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: inherit;
    outline: none;

}
.input-text:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    
}
#agree-icon:checked, #agree-icon:not(:checked){
    position: absolute;
    left: -99999px;
}

#agree-icon:checked+.agree-text, #agree-icon:not(:checked)+.agree-text{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    line-height: 20px;
    cursor: pointer;
}
#agree-icon:checked+.agree-text::before, #agree-icon:not(:checked)+.agree-text:before{
    content: "";
    position: absolute;
    left: -23px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000;
}

#agree-icon:checked+.agree-text:before, #agree-icon:not(:checked)+.agree-text:before{
    border-radius: 2px;
}
#agree-icon:checked+.agree-text:after, #agree-icon:not(:checked)+.agree-text:after{
    content: "";
    position: absolute;
    transition: all 0.2s ease;

}
#agree-icon:checked+.agree-text:after, #agree-icon:not(:checked)+.agree-text:after{
    left:-20px;
    top:0;
    width:13.5px ;
    height: 11px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-45deg);
    border-radius: 1px;
}

 #agree-icon:not(:checked)+.agree-text:after{
    opacity: 0;
}

#agree-icon:checked+.agree-text:after{
    opacity: 1;
}

.agree-text-link{
    color:rgba(60, 184, 120, 0.8);
}
.agree-text-link:hover{
    color:#01813F;
    text-decoration: underline;
}


